@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    font-family: "Poppins", serif;

    
}

ul,li,a {
    list-style: none;
    text-decoration: none;
}

:root {
    /* Cores do site */

    --orange-color: #FF5C28;

    /* Cores de texto */
    --text-color:#101010;
    --grey-text: #3b3b3b;



}



.flex {
    display: flex;
    justify-content: space-between;
}

.title-text {
font-size: 32px;
font-weight: 500;
}

.paragraph-text {
    font-size: 20px;
}

.subtitle-text {
    font-size: 25px;
    font-weight: 500;
}


.emphasis-text {
    font-weight: 500;
    font-size: 22px;
}

.bold-text {
    font-weight: 500;
}

.grey-text {
    color: var(--grey-text);
}

.website-container {
    margin-top: 2rem;
    display: grid;
    grid-template-areas: 
    'lateral-nav header carrinho'
    'lateral-nav main carrinho'
    ;
    grid-template-columns: 100px 1fr 400px;
    grid-template-rows: 60px ;
    min-height: 100vh;
    height: max-content;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    padding: 0 2.5rem ;
    position: sticky;
    top: 0;
    z-index: 1111;
  
   

}

.header input {
 
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    background-image: url(./Imagens/header/searchIcon\ \(3\).png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
    padding-left: 40px;
    border-bottom: 2px solid #2e2e2e42; 
}

.header .close-cart {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 50px;
    gap: 5px;
    cursor: pointer;

}


.header .close-cart .dot {

    width: 25px;
    height: 3px;
    background-color: #797575;
}

.lateral-menu {
    display: flex;
    position: sticky;
    top: 0;
    grid-area: lateral-nav;
    max-height: 100vh;

}


.lateral-menu .nav-buttons {
    display: flex;
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translateX(-50%);

    flex-direction: column;
    gap: 30px;
    cursor: pointer;
    
  
}
.lateral-menu .nav-buttons li {
    transition: all .3s ease;
    position: relative;
    padding: 10px 10px;
  
 
}

.lateral-menu .nav-buttons li img {
    height: 22px;

}

.lateral-menu .selected {
    position: relative;
 
    
}

.lateral-menu .nav-buttons li span {
    display: none;
}


.lateral-menu .selected::before {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    position: absolute;
    width: 5px;
    border-radius: 5px;
    height: 90%;
  background-color: var(--orange-color);
}
.lateral-menu .nav-buttons li:hover {
    transform: translateX(12px);
}

.select {

   

}




.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    grid-area: main;
    padding: 2.5rem ;
   

}


.main .banner {
    width: 100%;
    background-color: rgb(110, 176, 176);
    background-image: url(./Imagens/main/banner.png);
    background-repeat: no-repeat;
  
    background-size: cover;
    height: 300px;
   
}

.food-area {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.main .navigation-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 15px;
    border-bottom: 3px solid #6d6d6d48;
  


  
    
}
.navigation-container .nav-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;

}

.nav-filter.selected::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--orange-color);
    border-radius: 5px;
    bottom: -19px;


}

.nav-filter p {
    font-size: 20px;
}

.food-area {
    display: flex;
    flex-direction: column;

}

.food-area .subtitle-text:nth-child(1) {
    margin-top: 0;

}

.food-area .subtitle-text {
    color: #2a2a2a;
    font-size: 25px;
    margin: 20px 0;
    font-weight: 600;
    position: relative;
    width: max-content;
  
  
}

.food-area .subtitle-text:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 30px;
    background-color: #89868691;

    border-radius: 5px;
  
}

.food-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px; 
    justify-content: space-between;


}

.favourite-button {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffbf;
    width: max-content;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

}

.favourite-button img {
    height: 20px;
}

.food-content {
    position: relative;
}


.food-content img:nth-child(2) {
    width: 100%;
}

.food-content .grey-text {
    font-size: 20px;
    margin-top: 5px;
}

.food-content .flex{
    margin-top: 10px;

}



.carrinho {
    position: sticky;
    top: 2rem;
   
    display: grid;
    grid-template-rows: auto auto 1fr;
   
    grid-area: carrinho;
    padding: 0 2rem;
    max-height: calc(100vh - 2rem);

    
}

.carrinho .address-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.address-bar img {
    height: 15px;
}

.purshace-info {
    display: flex;
   gap: 20px;
}

.purshace-info .flex {
    justify-content: initial;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.purshace-info .grey-text {
    font-size: 20px;
}

.food-orders {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
  
}

.food-orders .food-card:last-child {
    margin-bottom: 20px;
}

.food-orders::-webkit-scrollbar {
    width: 0px; /* Largura da barra vertical */
    height: 0px; /* Altura da barra horizontal */
 

  }
  
  .food-orders::-webkit-scrollbar-thumb {
    background-color: #3635359e; /* Cor da "mãozinha" */
    border-radius: 1px; /* Bordas arredondadas */

    
  }
  
  .food-orders::-webkit-scrollbar-track {

   
  }


.food-card {
    display: flex;
    gap: 20px;
    align-items: center;
   
    padding: 1rem 5px;
    border-radius: 25px;
    height: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.222), 0 1px 3px rgba(0, 0, 0, 0.06);
    
    
}



.food-orders .food-card:last-child {
    border: none;
}

.food-card .food-image {
    height: 130px;
}

.food-card .quantity-orders {
    display: flex;
    align-items: center;

    padding-right: 20px;
  
    gap: 15px;
}

.text-box .title-text {
    font-size: 23px;
    font-weight: 600;
    color: #1e1e1e;

}

.text-box .subtitle-text {
    color: #5f5d5d;
    font-size: 18px;
    margin-bottom: 12px;
}


.quantity-orders .order-select {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.359), 0 1px 5px rgba(0, 0, 0, 0.06);
    outline: none;
    font-weight: 600;

}

.quantity-orders .delete-order {
    font-size: 32px;
    font-weight:  600;
    color: #5f5f5f;
    cursor: pointer;
}

.order-select option {
    height: 20px;

}

.finalize-purchase {
    width: 100%;

}



.finalize-purchase .total-info{
 border-top: 3px solid #a6a3a388;
 border-bottom: 3px solid #a6a3a388;
 padding: 10px 0;
 margin-bottom: 10px;


}

.finalize-purchase .flex {

    padding: 0 1rem;
}


.finalize-purchase .grey-text {
    font-size: 22px;
}

.finalize-purchase .bold-text {
   font-size: 22px;

}

.finalize-purchase .flex:last-child {
    margin-top: 10px;

}

.orange-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
    background-color: var(--orange-color);
    margin-bottom: 20px;
}


@media(max-width:1300px) {
.carrinho {
    display: none;
   
}

.website-container {

 
    grid-template-areas: 
    'lateral-nav header '
    'lateral-nav main '
    ;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 60px ;


}


}

@media(max-width:768px) {
    .website-container {
    
     
        grid-template-areas: 
        ' header '
        ' main '
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 60px ;
    
    
    }
    .lateral-menu {
        all: unset;
        position: fixed;
        background-color: #ffffff;
       
        bottom: 0;
        z-index: 11111;
        width: 100%;
    
    }

    .lateral-menu .nav-buttons {
      all: unset;
      display: grid;
        grid-template-columns: repeat(5, 1fr);
     
   
      box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.437);
        
      
    }

    .lateral-menu .nav-buttons li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
     
    }
    

    .lateral-menu .nav-buttons li img {
        height: 16px;
        width: auto;
    }

    .lateral-menu .nav-buttons li span {
        font-size: 11px;
        font-weight: 600;
        color: #2e2e2e;
    }
    .lateral-menu .selected {
        display: flex;  
        flex-direction: column;
         position: relative;
      
     }

     .selected span {
        color: var(--orange-color);
     }
     
     .lateral-menu .selected::before {
       all: unset;
     }
     .selected img{
        height: 30px;
        width: 30px;
     }
     .lateral-menu .nav-buttons li:hover {
         transform: translateX(12px);
     }

     .lateral-menu .nav-buttons li span {
        display: inline;
    }
}
